{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thanks for your attempted order!</h1>
    <p>
        Payment failed 😥 No charge made. Return to ArtisaanZ
        <a href="http://localhost:3000/ostoskori"> here</a>
    </p>

<div>

</div>
{% endblock %}
